<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mythicalthaiapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MythicalCreatures">

        <!-- Intro Screen: Launch screen -->
        <activity
            android:name=".ui.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Screen -->
        <activity android:name=".ui.MainActivity" />

        <!-- Creature Detail Screen -->
        <activity android:name=".ui.CreatureDetailActivity" />

        <!-- Favorites Screen -->
        <activity android:name=".ui.FavoritesActivity" />
    </application>

</manifest>
